.about {
  background-color: #000;
  color: #fff;
  padding-top: 100px;
  background-image: url(../img/about_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 21%;
  padding-bottom: 100px;
}

.about__title {
  font-size: 120px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 50px;

  &--bottom {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(69, 204, 22, 0.2);
      box-shadow: 10px 10px 100px 10px rgba(69, 204, 22, 1);;
      position: absolute;
      right: 40%;
      bottom: 35px;
    }
  }

  span {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    position: relative;

    &::after {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(69, 204, 22, 0.2);
      box-shadow: 10px 10px 100px 10px rgba(69, 204, 22, 1);;
      position: absolute;
      right: 15px;
      bottom: 35px;
    }

  }
}

.about__wrapper {

  &--bottom {
    max-width: 760px;
    margin-left: 115px;
  }
}

.about__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.about__bottom {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: url(../img/tyre.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1000px;
    opacity: 0.5;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 41.68%, #000000 98.2%);
    width: 1000px;
    height: 128px;
    z-index: 4;
  }
}

.about__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  opacity: 0.5;

  &--top {
    max-width: 500px;
  }

  &--bottom {
    margin-bottom: 100px;
  }
}

.about__list {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}

.about__item {
  position: relative;
  padding-left: 70px;
  z-index: 10;

  &::before {
    content: url(../img/list-marker.png);
    position: absolute;
    left: -3%;
    top: -11%;
  }
}
