section.about 
  .container 
    .about__top
      .about__wrapper.about__wrapper--top
        h2.about__title Драйв
          span энергия
          | успех
        p.about__text.about__text--top Мы лучше поняли ценность личного пространства и свободных путешествий. Быть наедине с собой и своим городом, остро чувствовать драйв и полноту жизни — всё это возможно вместе с техникой BSE Russia.
      .about__moto
        img(src="img/about_moto.png", alt="moto")
    .about__bottom 
      .about__image
        img(src="img/about_master.png", alt="moto")
      .about__wrapper.about__wrapper--bottom
        h3.about__title.about__title--bottom Специально для вас мы разработали более 40 маршрутов тест-драйва.
        p.about__text.about__text--bottom 
          | Мы лучше поняли ценность личного пространства и свободных путешествий. Быть наедине с собой и своим городом, остро чувствовать драйв и полноту жизни — всё это возможно вместе с техникой BSE RUSSIA.
          br
          br
          | Минуя пробки и привычные наскучившие виды, можно будет отправиться своей дорогой. Город — твой!
        ul.about__list 
          li.about__item BSE Russia — это мощная и сильная техника, которая совмещает в себе выдающуюся управляемость и комфорт.
