footer.footer 
  .container 
    .footer__top 
      ul.footer__media  
        li.footer__item
          a(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M33.9068 29.6764H30.5956C29.3367 29.6764 28.7164 28.9924 27.6765 27.8615C27.2751 27.4238 26.7826 26.8857 26.1258 26.2382C24.4108 24.6239 23.6993 24.3777 23.4165 24.3777C23.38 24.7151 23.3892 25.3718 23.3983 26.1105C23.3983 26.53 23.4074 27.0134 23.4074 27.5697C23.4074 29.421 21.8658 29.6764 20.1965 29.6764C16.2466 29.6764 12.2056 27.3234 9.40513 23.3745C5.37321 17.8296 4.01404 13.3152 4.01404 12.1023C4.01404 10.9988 4.75292 10.333 5.99351 10.333H9.30479C10.7369 10.333 11.2478 11.2085 11.5944 12.157C13.0083 16.1971 15.0699 19.2888 16.0368 20.1005C16.0368 20.0366 16.0368 19.9728 16.0368 19.8907V15.1027C15.9821 14.0631 15.6355 13.6527 15.3071 13.2514C15.0425 12.9322 14.7233 12.54 14.7233 11.9381C14.7233 11.0626 15.4804 10.3512 16.4108 10.3512H21.6195C22.2854 10.3512 23.3983 10.6157 23.3983 12.3941V18.7416C23.6264 18.5592 23.9 18.2947 24.0277 18.167C26.2535 15.732 27.8954 11.8378 27.9046 11.8013C28.3059 10.8528 29.0722 10.3604 30.1212 10.3604H33.4325C34.1805 10.3604 34.7278 10.5884 35.0562 11.0261C35.2752 11.318 35.4849 11.8378 35.2478 12.6403V12.6495C35.2204 12.7498 35.1931 12.8501 35.1566 12.9595L35.1474 12.9869C34.3994 15.1392 31.2706 19.5259 30.6868 20.3284C30.6412 20.4014 30.5499 20.5473 30.5135 20.6294C30.5317 20.6385 30.5682 20.7024 30.6412 20.7936C30.705 20.8665 30.8601 21.0216 31.079 21.2404C33.1588 23.3289 35.3481 25.6636 35.8589 27.2049C36.1235 28.0804 35.8954 28.6367 35.6583 28.9559C35.4028 29.2751 34.9011 29.6764 33.9068 29.6764ZM23.4257 22.6905C24.1281 22.6905 25.1315 22.9641 27.3025 25.0252C28.0049 25.7092 28.5157 26.2746 28.9262 26.7215C29.8932 27.7794 30.1212 27.9801 30.5956 27.9801H33.9068C34.1714 27.9801 34.2808 27.9345 34.3082 27.9162C34.29 27.9071 34.29 27.8341 34.2444 27.6882C33.8065 26.3385 30.851 23.3836 29.884 22.4078C29.4918 22.0156 29.3823 21.9062 29.3094 21.8059C28.5066 20.7844 28.8259 20.0822 29.2637 19.3891L29.3276 19.2979C30.3949 17.8296 33.3139 13.5523 33.6149 12.1752L33.6514 12.0202C33.6058 12.0111 33.5328 12.0111 33.4416 12.0111H30.1303C29.7198 12.0111 29.583 12.1479 29.4644 12.4215C29.4006 12.5856 27.6948 16.6166 25.2409 19.307C24.4656 20.064 23.8818 20.5838 23.0699 20.5838C22.3858 20.5838 21.6925 19.9728 21.6925 18.8054V12.3668C21.6925 12.1844 21.6742 12.0749 21.6651 12.0202C21.6469 12.0202 21.6286 12.0202 21.6013 12.0202H16.4838C16.5203 12.0658 16.5659 12.1205 16.6024 12.1661C17.0038 12.6586 17.6241 13.4064 17.7153 15.048V19.8816C17.7153 20.4561 17.7153 21.97 16.2558 21.97C14.2672 21.97 11.339 16.5984 9.97982 12.7224C9.72441 12.0293 9.64231 12.0293 9.28656 12.0293H5.97526C5.82931 12.0293 5.73809 12.0476 5.69248 12.0567C5.69248 12.0658 5.69248 12.084 5.69248 12.1023C5.69248 12.613 6.62293 16.6987 10.7643 22.3896C13.2546 25.9007 16.7666 27.9892 20.1782 27.9892C21.3641 27.9892 21.6469 27.825 21.6925 27.7977C21.6834 27.7977 21.7016 27.7338 21.7016 27.5788C21.7016 27.0225 21.7016 26.5482 21.6925 26.1378C21.6742 24.3047 21.6742 23.6207 22.1668 23.11C22.5956 22.6905 23.152 22.6905 23.4257 22.6905Z" fill="url(#paint0_linear_8_4270)"/>
              <path d="M40 8.63657V0H0V40H40V17.1728H38.3124V38.3037H1.68758V1.69631H38.3124V8.63657H40Z" fill="url(#paint1_linear_8_4270)"/>
              <defs>
              <linearGradient id="paint0_linear_8_4270" x1="4.01404" y1="10.333" x2="36.9767" y2="12.2198" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint1_linear_8_4270" x1="0" y1="0" x2="41.336" y2="1.43191" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              </defs>
            </svg>
        li.footer__item
          a(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.0042 30.1053C14.4307 30.1053 9.89703 25.5727 9.89703 20.0004C9.89703 14.4281 14.4307 9.89551 20.0042 9.89551C25.5778 9.89551 30.1114 14.4281 30.1114 20.0004C30.1114 25.5727 25.5778 30.1053 20.0042 30.1053ZM20.0042 11.5918C15.3611 11.5918 11.5846 15.3675 11.5846 20.0095C11.5846 24.6515 15.3611 28.4272 20.0042 28.4272C24.6473 28.4272 28.4238 24.6515 28.4238 20.0095C28.4238 15.3675 24.6382 11.5918 20.0042 11.5918Z" fill="url(#paint0_linear_8_4271)"/>
              <path d="M31.3704 10.8069C32.5694 10.8069 33.5414 9.83512 33.5414 8.63636C33.5414 7.43761 32.5694 6.46582 31.3704 6.46582C30.1713 6.46582 29.1993 7.43761 29.1993 8.63636C29.1993 9.83512 30.1713 10.8069 31.3704 10.8069Z" fill="url(#paint1_linear_8_4271)"/>
              <path d="M0 0V40H15.8814V38.3037H1.68757V1.69631H38.3124V38.3037H24.1186V40H40V0H0Z" fill="url(#paint2_linear_8_4271)"/>
              <defs>
              <linearGradient id="paint0_linear_8_4271" x1="9.89703" y1="9.89551" x2="30.7866" y2="10.6193" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint1_linear_8_4271" x1="29.1993" y1="6.46582" x2="33.6864" y2="6.62129" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint2_linear_8_4271" x1="0" y1="0" x2="41.336" y2="1.43191" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              </defs>
            </svg>
        li.footer__item
          a(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M39.1519 39.9909H25.9097C25.4446 39.9909 25.0616 39.6078 25.0616 39.1427V25.4993C25.0616 25.0342 25.4446 24.6512 25.9097 24.6512H29.959L30.4788 20.9211H25.9097C25.4446 20.9211 25.0616 20.5381 25.0616 20.073V16.3338C25.0616 14.8381 25.4537 12.85 28.8372 12.85H31.1263V9.6124C30.269 9.54856 28.9102 9.4756 27.4145 9.4756C23.1829 9.4756 20.6566 11.8377 20.6566 15.7957V20.073C20.6566 20.5381 20.2736 20.9211 19.8085 20.9211H15.668V24.6512H19.7994C20.2645 24.6512 20.6475 25.0342 20.6475 25.4993V39.1518C20.6475 39.617 20.2645 40 19.7994 40H0.848154C0.383037 40 0 39.617 0 39.1518V0.848153C0 0.383037 0.383037 0 0.848154 0H39.1519C39.617 0 40 0.383037 40 0.848153V39.1518C40 39.6078 39.6261 39.9909 39.1519 39.9909ZM26.7579 38.2946H38.3128V1.68719H1.70543V38.2946H18.9603V26.3383H14.8199C14.3548 26.3383 13.9717 25.9553 13.9717 25.4902V20.0638C13.9717 19.5987 14.3548 19.2157 14.8199 19.2157H18.9603V15.7866C18.9603 10.8436 22.1979 7.77018 27.4145 7.77018C29.7401 7.77018 31.6097 7.93434 32.0748 7.98906C32.5034 8.04378 32.8226 8.39945 32.8226 8.82809V13.6799C32.8226 14.145 32.4396 14.528 31.9745 14.528H28.8463C26.8673 14.528 26.7579 15.212 26.7579 16.3247V19.2157H31.4546C31.7009 19.2157 31.9289 19.3251 32.093 19.5075C32.2572 19.6899 32.3301 19.9362 32.2937 20.1824L31.5367 25.6088C31.482 26.0283 31.1172 26.3383 30.6977 26.3383H26.767V38.2946H26.7579Z" fill="url(#paint0_linear_8_4272)"/>
              <defs>
              <linearGradient id="paint0_linear_8_4272" x1="0" y1="0" x2="41.336" y2="1.43191" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              </defs>
            </svg>
        li.footer__item
          a(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.2797 30.1046C14.8692 30.1046 14.4678 29.9952 14.0938 29.7854C13.355 29.3568 12.908 28.5907 12.908 27.7334V12.266C12.908 11.4088 13.3458 10.6427 14.0938 10.2141C14.8327 9.78542 15.7176 9.78542 16.4564 10.2141L29.8932 17.9478C30.632 18.3764 31.079 19.1425 31.079 19.9997C31.079 20.857 30.632 21.6231 29.8932 22.0517L16.4656 29.7854C16.0916 30.0043 15.6902 30.1046 15.2797 30.1046ZM15.6172 28.3171L16.0368 29.0467L15.6172 28.3171L29.0539 20.5834C29.355 20.4101 29.3915 20.1183 29.3915 19.9997C29.3915 19.8812 29.355 19.5893 29.0539 19.4161L15.6172 11.6824C15.3162 11.5091 15.0425 11.6276 14.9422 11.6824C14.8419 11.7371 14.6047 11.9195 14.6047 12.266V27.7426C14.6047 28.0982 14.8419 28.2715 14.9422 28.3262C15.0425 28.3809 15.3162 28.4995 15.6172 28.3171Z" fill="url(#paint0_linear_8_4273)"/>
              <path d="M31.8723 0V1.69631H38.3124V38.3037H1.68757V1.69631H23.626V0H0V40H40V0H31.8723Z" fill="url(#paint1_linear_8_4273)"/>
              <defs>
              <linearGradient id="paint0_linear_8_4273" x1="12.908" y1="9.89258" x2="31.6903" y2="10.4775" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint1_linear_8_4273" x1="0" y1="0" x2="41.336" y2="1.43191" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              </defs>
              </svg>

      a.footer__link.footer__link--mail(href="mailto:bike@bse.ru") 
        span email:
        | bike@bse.ru
      a.footer__link.footer__link--tel(href="tel:+7 (495) 619-82-59") 
        span тел.:
        | +7 (495) 619-82-59
      ul.footer__policy  
        li.footer__info 
          a(href="#") Правила акции
        li.footer__info 
          a(href="#") Политика конфиденциальности
        li.footer__info 
          a(href="#") Политика обработки данных
    .footer__bottom 
      p.footer__copy © BSE RUSSIA 2022
      a(href="#") bsemoto.pro