section.select
  .container 
    .select__top 
      .select__img 
        img(src="img/select_moto.png", alt="moto")
      .select__model 
        h3.select__title Выберите модель для тест-драйва
        ul.select__filters
          li.select__item
            button.select__filter.select__filter--active RTC-300R Y 1.0
          li.select__item
            button.select__filter M2Y 2.0
          li.select__item
            button.select__filter Z3Y 1.0
    .select__wrapper
      .select__slide
        .select__left 
          h3.select__subtitle RTC-300R Y 1.0
          ul.select__list  
            li.select__info.select__info--power
              p.select__text Мощность 34 л.с.
            li.select__info.select__info--volume
              p.select__text Объем двигателя 300 см3
            li.select__info.select__info--carburetor
              p.select__text КАРБЮРАТОР NIBBI RACING 34
          .select__bottom 
            button.select__parameters 
              <svg width="168" height="168" viewBox="0 0 168 168" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_b_53_1723)">
              <circle cx="84" cy="84" r="84" fill="url(#paint0_radial_53_1723)" fill-opacity="0.7"/>
              </g>
              <path d="M167.37 84.0332C167.37 130.038 130.076 167.333 84.0708 167.333C38.0659 167.333 0.771484 130.038 0.771484 84.0332C0.771484 38.0283 38.0659 0.733887 84.0708 0.733887C130.076 0.733887 167.37 38.0283 167.37 84.0332Z" stroke="url(#paint1_linear_53_1723)"/>
              <path d="M140.135 84.0328C140.135 114.996 115.034 140.097 84.0708 140.097C53.1072 140.097 28.0063 114.996 28.0063 84.0328C28.0063 53.0692 53.1072 27.9683 84.0708 27.9683C115.034 27.9683 140.135 53.0692 140.135 84.0328Z" stroke="url(#paint2_linear_53_1723)"/>
              <path d="M88.8778 9.1597H84.2485V21.0166H82.9677V9.1597L78.3384 9.1597V8.02525L88.8778 8.02525V9.1597Z" fill="url(#paint3_linear_53_1723)"/>
              <path d="M103.057 22.7141L102.796 23.818L94.303 21.8052L97.299 9.16402L105.632 11.1389L105.37 12.2427L98.2837 10.5633L97.2035 15.1212L103.382 16.5855L103.133 17.6359L96.9545 16.1717L95.811 20.9967L103.057 22.7141Z" fill="url(#paint4_linear_53_1723)"/>
              <path d="M114.353 14.4178L115.609 21.3756L121.924 18.22L123.215 18.8687L115.812 22.5216L117.254 30.4125L115.962 29.7638L114.771 23.0435L108.653 26.093L107.345 25.4361L114.536 21.8811L113.045 13.7609L114.353 14.4178Z" fill="url(#paint5_linear_53_1723)"/>
              <path d="M136.389 29.0981L128.038 39.0501L127.071 38.2386L130.976 33.585L125.075 28.6334L121.17 33.2869L120.189 32.4636L128.54 22.5117L129.521 23.335L125.804 27.7643L131.705 32.7159L135.422 28.2866L136.389 29.0981Z" fill="url(#paint6_linear_53_1723)"/>
              <path d="M131.021 42.1907L141.442 34.4328L142.196 35.4455L133.184 42.1544L147.004 41.9034L147.714 42.8574L137.293 50.6153L136.539 49.6026L145.389 43.0138L131.786 43.2181L131.021 42.1907Z" fill="url(#paint7_linear_53_1723)"/>
              <path d="M142.842 62.2482L147.983 60.0306C147.765 59.8325 147.535 59.5927 147.294 59.3114C147.053 59.0301 146.817 58.7135 146.585 58.3616C146.365 58.005 146.161 57.6082 145.972 57.1714C145.402 55.8497 145.267 54.752 145.568 53.8783C145.88 52.9999 146.663 52.2901 147.918 51.7489L151.748 50.0965L152.241 51.239L148.545 52.8334C147.615 53.2344 147.034 53.7508 146.802 54.3824C146.574 55.0252 146.68 55.8563 147.12 56.8756C147.366 57.4468 147.667 57.9747 148.022 58.4592C148.382 58.9549 148.722 59.3265 149.041 59.574L154.771 57.1026L155.263 58.2451L143.334 63.3907L142.842 62.2482Z" fill="url(#paint8_linear_53_1723)"/>
              <path d="M147.615 77.5999L146.498 77.7969L144.982 69.2015L157.776 66.9455L159.263 75.3788L158.146 75.5758L156.881 68.4039L152.268 69.2173L153.371 75.4702L152.308 75.6576L151.205 69.4048L146.322 70.2659L147.615 77.5999Z" fill="url(#paint9_linear_53_1723)"/>
              <path d="M153.414 82.5826C154.206 82.6287 154.971 82.8077 155.711 83.1196C156.462 83.4444 157.132 83.8867 157.723 84.4465C158.326 85.007 158.787 85.6815 159.108 86.47C159.441 87.2592 159.579 88.1409 159.522 89.1151C159.455 90.272 159.129 91.2428 158.546 92.0275C157.974 92.8251 157.263 93.3946 156.412 93.7361L155.849 92.6952C156.438 92.4485 156.909 92.1216 157.263 91.7145C157.629 91.3081 157.899 90.8657 158.073 90.3871C158.247 89.9206 158.348 89.4499 158.376 88.975C158.421 88.1956 158.303 87.4984 158.021 86.8832C157.751 86.2688 157.367 85.7393 156.867 85.2947C156.379 84.8631 155.818 84.5249 155.185 84.2803C154.564 84.0364 153.924 83.8953 153.267 83.857C152.548 83.8152 151.853 83.8969 151.181 84.1021C150.509 84.3074 149.905 84.6143 149.368 85.0229C148.843 85.4322 148.412 85.9203 148.073 86.4871C147.746 87.0668 147.562 87.7037 147.522 88.3978C147.494 88.885 147.55 89.3892 147.69 89.9106C147.831 90.432 148.065 90.9222 148.393 91.3812C148.72 91.8523 149.156 92.2382 149.7 92.5387L149.09 93.5662C148.461 93.2607 147.937 92.8148 147.519 92.2284C147.101 91.6419 146.796 90.9949 146.605 90.2873C146.414 89.5919 146.337 88.9154 146.375 88.2578C146.427 87.3688 146.663 86.5639 147.084 85.843C147.517 85.1228 148.066 84.5072 148.731 83.9961C149.408 83.4979 150.151 83.1257 150.959 82.8795C151.78 82.634 152.598 82.5351 153.414 82.5826Z" fill="url(#paint10_linear_53_1723)"/>
              <path d="M145.173 98.1078L157.619 101.834L157.252 103.061L151.713 101.402L151.151 103.278L155.41 109.213L154.985 110.633L150.356 104.148L142.45 107.205L142.901 105.698L150.019 102.977L150.591 101.067L144.806 99.3348L145.173 98.1078Z" fill="url(#paint11_linear_53_1723)"/>
              <path d="M140.807 110.99L152.058 117.486L151.427 118.579L141.697 112.962L147.401 125.552L146.807 126.582L135.556 120.086L136.187 118.993L145.742 124.509L140.167 112.1L140.807 110.99Z" fill="url(#paint12_linear_53_1723)"/>
              <path d="M126.99 131.529L126.164 130.75L132.154 124.402L141.604 133.317L135.727 139.546L134.902 138.767L139.899 133.47L136.492 130.256L132.135 134.874L131.35 134.133L135.707 129.515L132.1 126.112L126.99 131.529Z" fill="url(#paint13_linear_53_1723)"/>
              <path d="M113.149 154.161L107.226 150.3L105.188 157.059L103.83 157.553L106.254 149.661L99.5243 145.295L100.883 144.801L106.588 148.547L108.568 142.004L109.944 141.503L107.595 149.173L114.525 153.661L113.149 154.161Z" fill="url(#paint14_linear_53_1723)"/>
              <path d="M92.96 159.46L91.8878 159.585L85.0182 147.308L86.3631 147.151L88.5067 150.99L94.3042 150.312L95.4864 146.085L96.8495 145.925L92.96 159.46ZM88.9143 151.956L92.2588 158.031L94.1484 151.344L88.9143 151.956Z" fill="url(#paint15_linear_53_1723)"/>
              <path d="M79.8792 147.036L78.371 159.94L73.0278 159.315C72.4705 159.25 71.9751 159.075 71.5416 158.791C71.096 158.506 70.7269 158.143 70.4344 157.704C70.1404 157.277 69.9249 156.809 69.7877 156.302C69.649 155.807 69.6088 155.311 69.6668 154.814C69.749 154.111 69.9844 153.463 70.373 152.87C70.7481 152.288 71.237 151.835 71.8397 151.513C72.4423 151.19 73.1192 151.073 73.8704 151.16L78.0504 151.649L78.607 146.887L79.8792 147.036ZM77.9187 152.776L73.7933 152.294C73.2844 152.234 72.8259 152.322 72.4177 152.557C72.0095 152.791 71.6763 153.121 71.4179 153.545C71.1595 153.969 70.9999 154.442 70.939 154.963C70.8767 155.496 70.9405 156.001 71.1304 156.477C71.3203 156.954 71.6003 157.343 71.9704 157.644C72.327 157.956 72.7415 158.139 73.214 158.195L77.2305 158.664L77.9187 152.776Z" fill="url(#paint16_linear_53_1723)"/>
              <path d="M58.113 155.632L57.0985 155.263L56.4695 141.209L57.7419 141.672L57.9344 146.065L63.4194 148.061L66.3734 144.814L67.6629 145.283L58.113 155.632ZM57.8653 147.111L58.1275 154.041L62.8173 148.913L57.8653 147.111Z" fill="url(#paint17_linear_53_1723)"/>
              <path d="M52.4688 138.968L45.33 149.822L44.2598 149.119L47.4371 144.288L45.8014 143.212L38.8939 145.589L37.6556 144.775L45.1962 142.201L44.5346 133.75L45.8493 134.615L46.4143 142.213L48.0806 143.309L51.3987 138.264L52.4688 138.968Z" fill="url(#paint18_linear_53_1723)"/>
              <path d="M25.5385 131.578L28.7154 134.945L37.3397 126.809L38.2187 127.74L29.5943 135.877L32.7711 139.244L31.946 140.023L24.7134 132.356L25.5385 131.578Z" fill="url(#paint19_linear_53_1723)"/>
              <path d="M25.6669 111.962L26.6494 111.395L31.0134 118.954L19.7625 125.45L15.4809 118.034L16.4634 117.466L20.1046 123.773L24.1612 121.431L20.9866 115.932L21.9215 115.393L25.0962 120.891L29.3905 118.412L25.6669 111.962Z" fill="url(#paint20_linear_53_1723)"/>
              <path d="M24.2798 105.558L11.8343 109.284L10.2914 104.131C10.1305 103.593 10.0945 103.069 10.1836 102.559C10.2692 102.037 10.4558 101.554 10.7435 101.111C11.0195 100.672 11.3632 100.289 11.7747 99.9623C12.1745 99.6389 12.6139 99.4055 13.0931 99.262C13.7709 99.0591 14.4591 99.0186 15.1577 99.1405C15.8411 99.2543 16.4503 99.5239 16.9852 99.9495C17.5201 100.375 17.896 100.95 18.1129 101.675L19.3199 105.706L23.9125 104.331L24.2798 105.558ZM18.2331 106.032L17.0418 102.053C16.8949 101.562 16.6328 101.176 16.2556 100.894C15.8783 100.612 15.4438 100.436 14.9519 100.367C14.4601 100.298 13.9629 100.339 13.4604 100.489C12.9462 100.643 12.5079 100.902 12.1455 101.265C11.7831 101.628 11.5369 102.039 11.407 102.498C11.2618 102.949 11.2575 103.402 11.3939 103.858L12.5537 107.732L18.2331 106.032Z" fill="url(#paint21_linear_53_1723)"/>
              <path d="M21.0097 92.9342L8.04037 93.6896L7.96696 92.4292L19.1827 91.776L7.49884 84.3918L7.42969 83.2045L20.3991 82.4491L20.4725 83.7095L9.45764 84.3511L20.9353 91.6556L21.0097 92.9342Z" fill="url(#paint22_linear_53_1723)"/>
              <path d="M14.1125 77.3636C13.3316 77.2259 12.5921 76.9592 11.8939 76.5636C11.1858 76.1538 10.5709 75.6367 10.0493 75.0121C9.51573 74.3854 9.13546 73.6618 8.90851 72.8414C8.66956 72.019 8.63481 71.1272 8.80427 70.1661C9.0055 69.0249 9.44136 68.0984 10.1119 67.3867C10.7725 66.6609 11.5451 66.1778 12.4298 65.9375L12.8677 67.0366C12.2544 67.2133 11.7485 67.4833 11.35 67.8466C10.9395 68.2077 10.6198 68.6159 10.3909 69.071C10.1641 69.5141 10.0094 69.9699 9.9268 70.4384C9.79123 71.2072 9.82772 71.9135 10.0363 72.5572C10.2328 73.1988 10.5533 73.7694 10.9979 74.2689C11.4325 74.7543 11.9502 75.1553 12.5509 75.4717C13.1396 75.7861 13.7583 76.0005 14.407 76.1149C15.1157 76.2399 15.8157 76.2394 16.5067 76.1135C17.1978 75.9877 17.8338 75.753 18.4146 75.4095C18.9834 75.0638 19.4688 74.6292 19.8708 74.1055C20.2629 73.5677 20.5193 72.9564 20.64 72.2717C20.7248 71.7911 20.7275 71.2838 20.6483 70.7496C20.5691 70.2154 20.3934 69.7013 20.1213 69.2074C19.8513 68.7015 19.4633 68.2677 18.9573 67.9059L19.6821 66.9561C20.2722 67.3327 20.7408 67.8364 21.0879 68.4674C21.4349 69.0984 21.6622 69.7764 21.7697 70.5014C21.8793 71.2144 21.8769 71.8952 21.7626 72.5439C21.6079 73.4209 21.2798 74.1929 20.7782 74.8601C20.2646 75.5251 19.6477 76.0728 18.9277 76.5033C18.1978 76.9196 17.417 77.203 16.5853 77.3537C15.7416 77.5022 14.9173 77.5055 14.1125 77.3636Z" fill="url(#paint23_linear_53_1723)"/>
              <path d="M16.9502 49.5398L15.1166 53.7905L26.0038 58.4868L25.4965 59.6629L14.6093 54.9666L12.7757 59.2173L11.734 58.768L15.9085 49.0905L16.9502 49.5398Z" fill="url(#paint24_linear_53_1723)"/>
              <path d="M29.9321 50.6115L19.5115 42.8536L20.2654 41.8409L29.2771 48.5499L25.0731 35.383L25.7834 34.429L36.204 42.1869L35.4501 43.1996L26.5999 36.6109L30.697 49.5841L29.9321 50.6115Z" fill="url(#paint25_linear_53_1723)"/>
              <path d="M39.9127 38.4391L31.5621 28.4871L32.5432 27.6638L36.2599 32.0931L37.7597 30.8346L37.4631 23.5355L38.5985 22.5828L38.902 30.5449L47.1875 32.3348L45.982 33.3463L38.5404 31.7082L37.0126 32.9902L40.8939 37.6158L39.9127 38.4391Z" fill="url(#paint26_linear_53_1723)"/>
              <path d="M50.64 30.0749L44.8095 18.4654L45.9378 17.8988L50.9799 27.9385L53.1324 14.2855L54.1952 13.7517L60.0257 25.3612L58.8975 25.9278L53.9457 16.0679L51.7846 29.5L50.64 30.0749Z" fill="url(#paint27_linear_53_1723)"/>
              <path class="document" d="M106.227 71.2871L106.227 105.063C106.227 109.287 102.803 112.71 98.5799 112.71H69.2648C65.0413 112.71 61.6174 109.287 61.6174 105.063L61.6174 63.0024C61.6174 58.7788 65.0413 55.355 69.2649 55.355L90.2952 55.355M106.227 71.2871L90.2952 55.355M106.227 71.2871H97.9426C93.7191 71.2871 90.2952 67.8632 90.2952 63.6397V55.355M71.1767 84.0327H96.668M71.1767 96.7784H96.668" stroke="url(#paint28_linear_53_1723)" stroke-width="2" stroke-linejoin="round"/>
              <defs>
              <filter id="filter0_b_53_1723" x="-35.727" y="-35.727" width="239.454" height="239.454" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImage" stdDeviation="17.8635"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_53_1723"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_53_1723" result="shape"/>
              </filter>
              <radialGradient id="paint0_radial_53_1723" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(84 84) rotate(90) scale(84)">
              <stop offset="0.341058"/>
              <stop offset="1" stop-opacity="0"/>
              </radialGradient>
              <linearGradient id="paint1_linear_53_1723" x1="0.271484" y1="0.233887" x2="173.468" y2="6.23352" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint2_linear_53_1723" x1="27.5063" y1="27.4683" x2="144.414" y2="31.518" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint3_linear_53_1723" x1="75.4201" y1="-6.9834" x2="92.3646" y2="-6.68153" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint4_linear_53_1723" x1="96.6301" y1="-6.41895" x2="113.048" y2="-2.21754" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint5_linear_53_1723" x1="117.138" y1="-0.978516" x2="132.97" y2="7.34893" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint6_linear_53_1723" x1="134.444" y1="7.87402" x2="150.017" y2="21.5294" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint7_linear_53_1723" x1="150.637" y1="21.6504" x2="162.64" y2="38.529" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint8_linear_53_1723" x1="163.576" y1="39.624" x2="171.028" y2="57.9365" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint9_linear_53_1723" x1="171.82" y1="60.1592" x2="174.465" y2="76.8987" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint10_linear_53_1723" x1="175" y1="80.2358" x2="173.533" y2="99.0082" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint11_linear_53_1723" x1="173.411" y1="101.414" x2="167.655" y2="119.342" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint12_linear_53_1723" x1="167.437" y1="120.866" x2="156.693" y2="138.573" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint13_linear_53_1723" x1="155.433" y1="140.529" x2="143.586" y2="152.647" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint14_linear_53_1723" x1="122.437" y1="166.753" x2="105.515" y2="172.554" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint15_linear_53_1723" x1="103.217" y1="173.372" x2="84.4753" y2="175.187" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint16_linear_53_1723" x1="81.1811" y1="175.379" x2="63.4559" y2="172.968" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint17_linear_53_1723" x1="61.0354" y1="172.668" x2="43.4723" y2="165.879" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint18_linear_53_1723" x1="41.2027" y1="165.072" x2="25.6787" y2="154.415" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint19_linear_53_1723" x1="23.0317" y1="152.445" x2="11.6232" y2="139.913" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint20_linear_53_1723" x1="8.88699" y1="136.63" x2="0.676155" y2="121.805" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint21_linear_53_1723" x1="-1.22929" y1="117.98" x2="-6.03665" y2="100.75" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint22_linear_53_1723" x1="-6.66599" y1="99.3164" x2="-7.41987" y2="78.6185" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint23_linear_53_1723" x1="-7.59982" y1="77.1885" x2="-3.96376" y2="58.7133" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint24_linear_53_1723" x1="-3.203" y1="55.5029" x2="3.78556" y2="40.0638" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint25_linear_53_1723" x1="4.62892" y1="37.7109" x2="17.3558" y2="21.3708" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint26_linear_53_1723" x1="18.137" y1="20.1597" x2="32.798" y2="8.34411" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint27_linear_53_1723" x1="33.818" y1="7.19043" x2="52.5246" y2="-1.69983" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              <linearGradient id="paint28_linear_53_1723" x1="61.6174" y1="55.355" x2="107.739" y2="56.5976" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC000B"/>
              <stop offset="1" stop-color="#BD6600"/>
              </linearGradient>
              </defs>
              </svg>
            p.select__speed  скорость
        .select__right
          p.select__text.select__text--right Многосоставная, прочнейшая алюминиевая рама. Оригинальный патент BOSUER